<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="default-style layout-fixed layout-navbar-fixed">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>
    <h1 th:text="${estado}" style="text-align: Center;"></h1>
    <p><i>ID da Coleção:</i> <span th:text="${collection_id}"></span></p>
    <p><i>Status da Coleção:</i> <span th:text="${collection_status}"></span></p>
    <p><i>ID do Pagamento:</i> <span th:text="${payment_id}"></span></p>
    <p><i>Status:</i> <span th:text="${status}"></span></p>
    <p><i>Referência Externa:</i> <span th:text="${external_reference}"></span></p>
    <p><i>Tipo de Pagamento:</i> <span th:text="${payment_type}"></span></p>
    <p><i>ID do Pedido do Comerciante:</i> <span th:text="${merchant_order_id}"></span></p>
    <p><i>ID da Preferência:</i> <span th:text="${preference_id}"></span></p>
    <p><i>ID do Site:</i> <span th:text="${site_id}"></span></p>
    <p><i>Modo de Processamento:</i> <span th:text="${processing_mode}"></span></p>
    <p><i>ID da Conta do Comerciante:</i> <span th:text="${merchant_account_id}"></span></p>
</body>
</html>
